.footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Superstar", sans-serif;
}

.footer.dark {
  background: #1f2233;
  color: #fff;
}

.footer.light {
  background: linear-gradient(to right, #c2e0f5, #e8c6f2);
  color: #222;
}
