/* body {
  margin: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
  background: #181c2c;
  color: #eef2fb;
}

.light-mode {
  background: #fafafa;
  color: #222;
}

a {
  color: #6d6afa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */
