body {
  margin: 0;
}

.app-container {
  position: relative;
  overflow: hidden; /* This is now needed here to clip the curves */
}

/* Background Curve Designs */
.app-container::before,
.app-container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1; /* Puts the curves in the background */
}

.app-container.light-mode::before,
.app-container.light-mode::after {
  background: linear-gradient(to right, #c2e0f5, #e8c6f2);
  filter: opacity(0.5); /* Adjust opacity for the faded effect */
}

.app-container.dark-mode::before,
.app-container.dark-mode::after {
  background: linear-gradient(to right, #444a77, #664a77);
  filter: opacity(0.3);
}

.app-container::before {
  width: 400px;
  height: 400px;
  top: -150px;
  left: -200px;
}

.app-container::after {
  width: 500px;
  height: 500px;
  top: -200px;
  right: -250px;
}
